#
#Wed Aug 19 14:53:06 MDT 2026
ADD_TRACK_-_FAVORITE_DEVICES_AUDIO_1=RAVE (AU)
ADD_TRACK_-_FAVORITE_DEVICES_AUDIO_2=Airwindows Consolidated (AU)
ADD_TRACK_-_FAVORITE_DEVICES_AUDIO_3=Fugue Machine Rubato (AU)
ADD_TRACK_-_FAVORITE_DEVICES_AUDIO_4=STEQ (AU)
ADD_TRACK_-_FAVORITE_DEVICES_AUDIO_5=AVOX ARTICULATOR (AU)
ADD_TRACK_-_FAVORITE_DEVICES_AUDIO_6=AVOX ASPIRE (AU)
ADD_TRACK_-_FAVORITE_DEVICES_AUDIO_7=AVOX CHOIR (AU)
ADD_TRACK_-_FAVORITE_DEVICES_DEVICE_1=ADSR Sample Manager (AU)
ADD_TRACK_-_FAVORITE_DEVICES_DEVICE_2=Ample Bass P Lite II (AU)
ADD_TRACK_-_FAVORITE_DEVICES_DEVICE_3=Ample Guitar M II Lite (AU)
ADD_TRACK_-_FAVORITE_DEVICES_DEVICE_4=AUMIDISynth (AU)
ADD_TRACK_-_FAVORITE_DEVICES_DEVICE_5=AUSampler (AU)
ADD_TRACK_-_FAVORITE_DEVICES_DEVICE_6=DLSMusicDevice (AU)
ADD_TRACK_-_FAVORITE_DEVICES_DEVICE_7=Listento Instrument (AU)
ADD_TRACK_-_FAVORITE_DEVICES_EFFECT_1=RAVE (AU)
ADD_TRACK_-_FAVORITE_DEVICES_EFFECT_2=Airwindows Consolidated (AU)
ADD_TRACK_-_FAVORITE_DEVICES_EFFECT_3=Fugue Machine Rubato (AU)
ADD_TRACK_-_FAVORITE_DEVICES_EFFECT_4=STEQ (AU)
ADD_TRACK_-_FAVORITE_DEVICES_EFFECT_5=AVOX ARTICULATOR (AU)
ADD_TRACK_-_FAVORITE_DEVICES_EFFECT_6=AVOX ASPIRE (AU)
ADD_TRACK_-_FAVORITE_DEVICES_EFFECT_7=AVOX CHOIR (AU)
ADD_TRACK_-_FAVORITE_DEVICES_INSTRUMENT_1=ADSR Sample Manager (AU)
ADD_TRACK_-_FAVORITE_DEVICES_INSTRUMENT_2=Ample Bass P Lite II (AU)
ADD_TRACK_-_FAVORITE_DEVICES_INSTRUMENT_3=Ample Guitar M II Lite (AU)
ADD_TRACK_-_FAVORITE_DEVICES_INSTRUMENT_4=AUMIDISynth (AU)
ADD_TRACK_-_FAVORITE_DEVICES_INSTRUMENT_5=AUSampler (AU)
ADD_TRACK_-_FAVORITE_DEVICES_INSTRUMENT_6=DLSMusicDevice (AU)
ADD_TRACK_-_FAVORITE_DEVICES_INSTRUMENT_7=Listento Instrument (AU)
DEBUG_DISPLAY_MODE=PAN
DISPLAY_COLORS_BACKGROUND=0.3254901960784314,0.3254901960784314,0.3254901960784314
DISPLAY_COLORS_BACKGROUND_DARKER=0.15294117647058825,0.15294117647058825,0.15294117647058825
DISPLAY_COLORS_BACKGROUND_SELECTED=0.7843137254901961,0.7843137254901961,0.7843137254901961
DISPLAY_COLORS_BORDER=0.0,0.0,0.0
DISPLAY_COLORS_EDIT=0.9411764705882353,0.4980392156862745,0.06666666666666667
DISPLAY_COLORS_FADER=0.27058823529411763,0.17254901960784313,0.07450980392156863
DISPLAY_COLORS_MUTE=0.9607843137254902,0.5058823529411764,0.06666666666666667
DISPLAY_COLORS_RECORD=1.0,0.0,0.0
DISPLAY_COLORS_SOLO=1.0,1.0,0.0
DISPLAY_COLORS_TEXT=0.0,0.0,0.0
DISPLAY_COLORS_VU=0.0,1.0,0.0
HARDWARE_SETUP_DISPLAY_BRIGHTNESS=100
HARDWARE_SETUP_LED_BRIGHTNESS=100
MIDI_INPUT0=Ableton AG - Ableton Push 2 - Live Port
MIDI_OUTPUT0=Ableton AG - Ableton Push 2 - Live Port
PADS_CONVERT_POLY_AFTERTOUCH_TO=Poly Aftertouch
PADS_DYNAMICS=5
PADS_GAIN=5
PADS_SENSITIVITY=5
PLAY_AND_SEQUENCE_ACTIVATE_FIXED_ACCENT=Off
PLAY_AND_SEQUENCE_FIXED_ACCENT_VALUE=127
PLAY_AND_SEQUENCE_NOTIFY_PLAYED_CHORDS=Off
PLAY_AND_SEQUENCE_QUANTIZE_AMOUNT=100
PLAY_AND_SEQUENCE_STARTUP_VIEW=Play
PLAY_AND_SEQUENCE_START_WITH_SESSION_VIEW=Off
PLAY_AND_SEQUENCE_TURN_OFF_SCALE_PADS=Off
RIBBON_CC=1
RIBBON_FUNCTION_IF_NOTE_REPEAT_IS_ACTIVE=Period
RIBBON_MODE=Pitch
SESSION_ACTION_FOR_PRESSING_REC_ARMED_EMPTY_CLIP=Start recording
SESSION_DISPLAY_CLIPS_OF_RECORD_ENABLED_TRACKS_IN_RED=On
SESSION_PADS=Clips
SESSION_SELECT_CLIP/SCENE_ON_LAUNCH=On
TAG_IS_ENABLED=true
TRANSPORT_BEHAVIOUR_ON_PAUSE=Pause
TRANSPORT_FLIP_ARRANGER_AND_CLIP_RECORD_/_AUTOMATION=Off
WORKFLOW_CURSOR_KEYS_SCENE_OPTION=Scroll scene bank by 1
WORKFLOW_CURSOR_KEYS_TRACK_OPTION=Scroll track bank by page
WORKFLOW_EXCLUDE_DEACTIVATED_ITEMS_(TRACKS,_SENDS,_DEVICES,_LAYERS)=Off
WORKFLOW_FOOTSWITCH_2=Sustain Pedal
WORKFLOW_INCLUDE_(GROUP-)MASTERTRACK_(REQUIRES_RESTART)=On
WORKFLOW_KNOB_SENSITIVITY_DEFAULT=Normal
WORKFLOW_KNOB_SENSITIVITY_SLOW=-40
WORKFLOW_NEW_CLIP_LENGTH=1 Bar
WORKFLOW_SHIFTED_CURSOR_KEYS_SCENE_OPTION=Scroll scene bank by page
WORKFLOW_SHIFTED_CURSOR_KEYS_TRACK_OPTION=Swap tracks
WORKFLOW_STOP_AUTOMATION_RECORDING_ON_KNOB_RELEASE=Off
WORKFLOW_TRACK_NAVIGATION_(REQUIRES_RESTART)=Hierarchical
WORKFLOW_VU_METERS=On
